* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69px;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  width: 176px;
  height: 43px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.create-quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 77px 0 0 0;
  width: 90%;
  height: 181px;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

h3 {
  width: 250px;
  height: 107px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}

.btn-create {
  width: 151px;
  height: 40px;
  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #ec362d;
}

.my-quizzes {
  display: flex;
  align-items: center;
  gap: 17px;
  width: 100%;
  padding-left: 5%;
  margin: 70px 0 5px 0;

  /* (feito uma pequena ganbiarra aqui) */
}

h2 {
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.btn-icon {
  border: none;
  background: #fafafa;
}

.icon {
  width: 31px;
  height: 30px;
  color: #ec362d;
  background: #fafafa;
  border-radius: 500px;
}

.wrappe-user-quiz {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.user-quiz {
  position: relative;
  width: 340px;
  height: 181px;
}

.img-quiz {
  width: 340px;
  height: 181px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.62%,
    rgba(0, 0, 0, 0.8) 100%
  );
  /* verificar o gradiente */
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}

p {
  width: 309px;
  height: 54px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  align-items: center;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.all-quizzes {
  display: flex;
  gap: 17px;
  width: 100%;
  padding-left: 5%;
  margin: 70px 0 5px 0;
}

.wrappe-quiz {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.quiz {
  position: relative;
  width: 340px;
  height: 181px;
}

.basic-info-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.creating-titles {
  width: 195px;
  height: 23px;
  font-family: "Roboto", sans-serif;
  margin: 71px 0 27px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  width: 600px;
  height: 256px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.inputs {
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
}

.next-step-button {
  width: 368.86px;
  height: 54px;
  margin: 85px 0 0 0;
  background: #ec362d;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff5f4;
}

.creating-questions-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creating-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.question {
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

h4 {
  width: 100%;
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 0 17px;
  display: flex;
  align-items: center;
  color: #000000;
}

.hidden {
  display: none;
}

@media ((max-width: 1100px)) {
  header {
    width: 100%;
  }
  .my-quizzes {
    justify-content: space-between;
  }
  .wrappe-user-quiz {
    flex-direction: column;
  }

  .wrappe-quiz {
    flex-direction: column;
  }
}
