* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69px;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  cursor: pointer;
  width: 176px;
  height: 43px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.create-quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 77px 0 0 0;
  width: 90%;
  height: 181px;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

h3 {
  width: 250px;
  height: 107px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}

.btn-create {
  cursor: pointer;
  width: 151px;
  height: 40px;
  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #ec362d;
}

.my-quizzes {
  display: flex;
  align-items: center;
  gap: 17px;
  width: 100%;
  padding-left: 5%;
  margin: 70px 0 5px 0;

  /* (feito uma pequena ganbiarra aqui) */
}

h2 {
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.btn-icon {
  cursor: pointer;
  border: none;
  background: #fafafa;
}

.icon {
  width: 31px;
  height: 30px;
  color: #ec362d;
  background: #fafafa;
  border-radius: 500px;
}

.wrappe-user-quiz {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.user-quiz {
  position: relative;
  width: 340px;
  height: 181px;
}

.img-quiz {
  width: 340px;
  height: 181px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.62%,
    rgba(0, 0, 0, 0.8) 100%
  );
  /* verificar o gradiente */
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}

p {
  width: 309px;
  height: 54px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  align-items: center;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.all-quizzes {
  display: flex;
  gap: 17px;
  width: 100%;
  padding-left: 5%;
  margin: 70px 0 5px 0;
}

.wrappe-quiz {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.quiz {
  position: relative;
  width: 340px;
  height: 181px;
}

.hidden {
  display: none;
}
.basic-info-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.creating-titles {
  width: 100%;
  height: 23px;
  font-family: "Roboto", sans-serif;
  margin: 71px 0 27px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  width: 600px;
  background: #ffffff;
  padding:0 17px 0 17px;
}

  
  
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  width: 600px;
  background: #ffffff;
  padding: 27px 17px 27px 17px;
}
  
.wrong-options-container {
  background-color: aqua;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  width: 600px;
  
  background: #ffffff;
  padding: 27px 17px 27px 17px;
}

.inputs {
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
}

.next-step-button {
  cursor: pointer;
  width: 352px;
  height: 54px;
  margin: 85px 0 25px 0px;
  background: #ec362d;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff5f4;
}

.creating-questions-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.creating-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 22px;
  
}

.level-container{
  height: 266px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.question-container{
  height: 825px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ec362d;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
}

input{
  padding-left: 23px;
  font-family: "roboto", sans-serif;
  font-style: italic; 
}


.question {
  padding-left: 23px;
  font-family: "roboto", sans-serif;
  font-style: italic; 
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-bottom: 14px;

}

h4 {

  width: 600px;
  height: 23px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 0 17px;
  display: flex;
  align-items: center;
  color: #000000;
}

.questions-title-collapse{
  height: 74px;
  cursor: pointer;
  
}

.levels-title-collapse{
  height: 74px;
  cursor: pointer;
}

.teste{

  display: none;
  overflow: hidden;
}

.creating-levels-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.creating-end-background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

}



.quizz-image {
  width: 500px;
  height: 266px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 65.62%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(image.png);
object-fit: cover;
position: relative;
  border-radius: 5px;
}

.playing-quizz-title{
  height: 69px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.playing-questions-container{
  height: 436px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing-options-container{
  width: 375px;
  height:330px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 13px;
  margin-bottom: 49px;
  justify-content: center;
}

.playing-question{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 89px;
  width: 340px;
}

.not-selected {
  opacity: 0.3;
}


.option-image{
  width: 163px;
  height: 113px;
}


.playing-quizz-name{
  background-color: #000000;
  opacity: 57%;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  font-family: "roboto", sans-serif;
  font-size: 39px;
  font-weight: 400;
  line-height: 46px;
  align-items: center;
  justify-content: center;
}

.top-image{
  position: absolute;
  top: -100px;
  height: auto;
  width: 100%;

}

.quizz-title {
position: absolute;
width: 309px;
height: 54px;
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 27px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.home-button {
 width: 100%;
height: 44px;
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
text-align: center;
color: #818181;

}



.hidden {
  display: none;
}

@media ((max-width: 1100px)) {
  header {
    width: 100%;
  }
  .my-quizzes {
    justify-content: space-between;
  }
  .wrappe-user-quiz {
    flex-direction: column;
  }

  .wrappe-quiz {
    flex-direction: column;
  }
}

