.topo-quiz {
    position: relative;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
}

.topo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
}
.titu {
    position: absolute;
    z-index: 0.1;
    left: 50%;
    top: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}